<!DOCTYPE html>
<html lang="en">
<head>

    <style type="text/css">
        #more {display: none;}
         img {
            width: 100%;
            height: auto;
        }
    </style>
    <script type="text/javascript">
        function myFunction() {
  var dots = document.getElementById("dots");
  var moreText = document.getElementById("more");
  var btnText = document.getElementById("myBtn");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Read more"; 
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Read less"; 
    moreText.style.display = "inline";
  }
}
    </script>
</head>
<body>
    <header class="site-header">
        <div class="top-header-bar">
            <div class="container">
                <div class="row flex-wrap justify-content-center justify-content-lg-between align-items-lg-center">
                    <div class="col-12 col-lg-8 d-none d-md-flex flex-wrap justify-content-center justify-content-lg-start mb-3 mb-lg-0">
                        <div class="header-bar-email">
                            MAIL: <a href="mailto:meseretkbt@gmail.com"> meseretkbt@gmail.com</a>
                        </div><!-- .header-bar-email -->

                        <div class="header-bar-text">
                            <p>PHONE: <span>+251 912955024 / +251974102040 </span></p>
                        </div><!-- .header-bar-text -->
                    </div><!-- .col -->

                    <div class="col-12 col-lg-4 d-flex flex-wrap justify-content-center justify-content-lg-end align-items-center">
                        <div class="donate-btn">
                            <a href="involved.html">Donate Now</a>
                        </div><!-- .donate-btn -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .top-header-bar -->

        <div class="nav-bar">
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex flex-wrap justify-content-between align-items-center">
                        <div class="site-branding d-flex align-items-center">
                           <a class="d-block" href="index.html" rel="home"><img class="d-block" src="asset/apple-icon-144x144.png" alt="logo"></a>
                        </div><!-- .site-branding -->


                        <nav class="site-navigation d-flex justify-content-end align-items-center">
                            <ul class="d-flex flex-column flex-lg-row justify-content-lg-end align-content-center">
                                <li ><a href="index.html">Home</a></li>
                                <li class="current-menu-item"><a href="about.html">About us</a></li>
                                <!--<li><a href="causes.html">Our Impact</a></li>-->
                                <li><a href="involved.html">Get Involved</a></li>
                               <li><a href="gallery.html">Gallery</a></li>
                                <li><a href="news.html">News</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </nav><!-- .site-navigation -->

                        <div class="hamburger-menu d-lg-none">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div><!-- .hamburger-menu -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .nav-bar -->
    </header><!-- .site-header -->

    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>About Us</h1>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .page-header -->

    <div class="welcome-wrap">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 order-2 order-lg-1">
                    <div class="welcome-content">
                        <header class="entry-header">
                            <h2 class="entry-title" style="color: black;">Welcome to Yengat Birhan</h2>
                        </header><!-- .entry-header -->

                        <div class="entry-content mt-5">
                            <p>Yengat Birhan is an indigenous humanitarian organization established by a volunteer health professional that represent a family committed to assist disadvantaged family especially poor women headed and child headed one. The family has a long story of supporting disadvantaged children and their family for over four years using their own financial and material resources plus rich experience in humanitarian service. Since February, 2016, the organization approaches friends and individuals who share the vision of the founder and able to get financial, material and technical support and continued operating in collaboration with Yeka Sub city Woreda 08 and the surrounding community; in the area of women economic empowerment, improve school enrolment of disadvantaged children and improve the health seeking behavior of disadvantaged family. The organization’s support was highly appreciated by the beneficiary, and to this effect, Yeka sub-city and a number of beneficiaries are continuing to demand a scale up the support and reach more families.<span id="dots">...</span><span id="more"><br>Yengat Birhan is evolved based on the rapid situation assessment made in 2015. Both the rapid assessment and the founder observation revels that how a little support from a single family could change the condition of households through small business activity which encourages to extending the support in a more structured and organized way. As a result, the organization established its constituency and elects the board of directors, and formally registered as a resident charity with registration number 3645 in June 2016, with the mission to empower poor and disadvantaged individuals, family and communities, by helping to actualizing their latent potential through integrated development programs. The project was designed to respond to the problems of disadvantageous families especially women or child headed family by providing innovative and comprehensive support related to their economy, child education and health. </span></p>
            
         
                <button onclick="myFunction()" id="myBtn" type="button" class="btn btn-warning" style="background-color: orange;"> + Read more</button>
                
                        </div><!-- .entry-content -->
                       
                      
                    </div><!-- .welcome-content -->
                </div><!-- .col -->

                <div class="col-12 col-lg-6 order-1 order-lg-2">
                    <img src="assets/welcome.jpg" alt="welcome">
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .home-page-icon-boxes -->
    <div class="about-testimonial">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-5">
                    <div class="testimonial-cont">
                        <div class="entry-content">
                            <p style="size: 10px;"><b>Mission</b> <br>
Working strongly toward ensuring healthy family and community through supporting and encouraging peoples to know and release their potential in the integrated program.</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 offset-lg-2 col-lg-5">
                    <div class="testimonial-cont">
                        <div class="entry-content">
                            <p style="size: 10px;"><b>Goal</b> <br>
Contribute for changing the living standard of marginalized and disadvantageous family especially headed by women with children and child headed family through building their capacity and self-esteem in a continuous improvement of life. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <div class="about-testimonial">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-5">
                    <div class="testimonial-cont">
                        <div class="entry-content">
                            <p><b>Objectives</b> <br>
To create conducive environment for disadvantaged women and child headed families through integrated family empowerment program. .</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 offset-lg-2 col-lg-5">
                    <div class="testimonial-cont">
                        <div class="entry-content">
                            <p><b>Our Vision</b> <br>
Aspires to see society to enjoy healthy life. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="help-us">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex flex-wrap justify-content-between align-items-center">
                    <h2>Help us, so that we can help others</h2>

                    <a class="btn orange-border" href="involved.html">Donate now</a>
                </div>
            </div>
        </div>
    </div>

    <footer class="site-footer">
        <div class="footer-widgets">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="foot-about">
                            <h2><a class="foot-logo" href="#"><img src="assets/apple-icon-144x144.png" alt=""></a></h2>

                           <p>Any amount would help to change other lives by engaging women in income activity and improve acadamic performance of needy children. 
                            <br>
                           <b> Name of Bank: <br>Birhan International Bank 
                            Account No: <span style="color: red;">1600110007833</span></b>
                           <b> <br>Awash International Bank <br>
                            Account No: <span style="color: red;">01308161608800 </span></b>
                        </p>

                            <ul class="d-flex flex-wrap align-items-center">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div><!-- .foot-about -->
                    </div><!-- .col -->

                    <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                        <h2>Useful Links</h2>

                        <ul>
                            <li><a href="#">Privacy Polticy</a></li>
                            <li><a href="involved.html">Become  a Volunteer</a></li>
                            <li><a href="involved.html">Donate</a></li>
                            <li><a href="causes.html">Causes</a></li>
                           <li><a href="gallery.html">Gallery</a></li>
                            <li><a href="news.html">News</a></li>
                        </ul>
                    </div><!-- .col -->


                    <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                        <div class="foot-contact">
                            <h2>Contact</h2>

                            <ul>
                                <li><i class="fa fa-phone"></i><span>+251 912955024 / +251974102040</span></li>
                               <li><i class="fa fa-envelope"></i><span> meseretkbt@gmail.com</span></li>
                            <li><i class="fa fa-map-marker"></i><span>Office Location - 
                                        Yeka sub-city, Woreda 08 
                                        House No - 367 
                                        Addis Ababa, Ethiopia </span></li>
                            </ul>
                        </div><!-- .foot-contact -->

                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .footer-widgets -->

        <div class="footer-bar">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p class="m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved <i class="fa fa-heart-o" aria-hidden="true"></i> </p>
                    </div><!-- .col-12 -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .footer-bar -->
    </footer><!-- .site-footer -->

    <script type='text/javascript' src='js/jquery.js'></script>
    <script type='text/javascript' src='js/jquery.collapsible.min.js'></script>
    <script type='text/javascript' src='js/swiper.min.js'></script>
    <script type='text/javascript' src='js/jquery.countdown.min.js'></script>
    <script type='text/javascript' src='js/circle-progress.min.js'></script>
    <script type='text/javascript' src='js/jquery.countTo.min.js'></script>
    <script type='text/javascript' src='js/jquery.barfiller.js'></script>
    <script type='text/javascript' src='js/custom.js'></script>

</body>
</html>