<!DOCTYPE html>
<html lang="en">
<head>


        <style type="text/css">
        .head_img img {
            width: 100%;
            height: auto;
        }
    </style>

    <!-- Styles -->
    <link rel="stylesheet" href="style.css">
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-N35GSPB');</script>
<!-- End Google Tag Manager -->
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N35GSPB"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <header class="site-header">
        <div class="top-header-bar">
            <div class="container">
                <div class="row flex-wrap justify-content-center justify-content-lg-between align-items-lg-center">
                    <div class="col-12 col-lg-8 d-none d-md-flex flex-wrap justify-content-center justify-content-lg-start mb-3 mb-lg-0">
                        <div class="header-bar-email">
                            MAIL: <a href="mailto:meseretkbt@gmail.com"> meseretkbt@gmail.com</a>
                        </div><!-- .header-bar-email -->

                        <div class="header-bar-text">
                            <p>PHONE: <span>+251 912955024 / +251974102040 </span></p>
                        </div><!-- .header-bar-text -->
                    </div><!-- .col -->

                    <div class="col-12 col-lg-4 d-flex flex-wrap justify-content-center justify-content-lg-end align-items-center">
                        <div class="donate-btn">
                            <a href="involved.html">Donate Now</a>
                        </div><!-- .donate-btn -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .top-header-bar -->

        <div class="nav-bar">
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex flex-wrap justify-content-between align-items-center">
                        <div class="site-branding d-flex align-items-center">
                           <a class="d-block" href="index.html" rel="home"><img class="d-block" src="assets/apple-icon-144x144.png" alt="logo"></a>
                        </div><!-- .site-branding -->

                        <nav class="site-navigation d-flex justify-content-end align-items-center">
                            <ul class="d-flex flex-column flex-lg-row justify-content-lg-end align-content-center">
                                <li class="current-menu-item"><a href="index.html">Home</a></li>
                                <li><a href="about.html">About us</a></li>
                               <!-- <li><a href="causes.html">Our Impact</a></li> -->
                                <li><a href="involved.html">Get Involved</a></li>
                             <li><a href="gallery.html">Gallery</a></li>
                                <li><a href="news.html">News</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </nav><!-- .site-navigation -->

                        <div class="hamburger-menu d-lg-none">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div><!-- .hamburger-menu -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .nav-bar -->
    </header><!-- .site-header -->

    <div class="swiper-container hero-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide hero-content-wrap">
                <img class="head_img" src="assets/negat.jpg" alt="">

                <div class="hero-content-overlay position-absolute w-100 h-100">
                    <div class="container h-100">
                        <div class="row h-100">
                            <div class="col-12 col-lg-8 d-flex flex-column justify-content-center align-items-start">
                                <header class="entry-header">
                                   <h1>Donate</h1>
                                    <h4>to Change Other Lives</h4>
                                </header><!-- .entry-header -->

                                <div class="entry-content mt-4">
                                    <p>Any amount would help us to continue development on this project and is greatly appreciated. </p>
                                </div><!-- .entry-content -->

                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .container -->
                </div><!-- .hero-content-overlay -->
            </div><!-- .hero-content-wrap -->

           <!-- <div class="swiper-slide hero-content-wrap">
                <img class="head_img" src="assets/hero2.jpg" alt="">

                <div class="hero-content-overlay position-absolute w-100 h-100">
                    <div class="container h-100">
                        <div class="row h-100">
                            <div class="col-12 col-lg-8 d-flex flex-column justify-content-center align-items-start">
                                <header class="entry-header">
                                    <h1>Donate</h1>
                                    <h4>for a better Us</h4>
                                </header><!-- .entry-header 

                                <div class="entry-content mt-4">
                                    <p>Any amount would help support and continue development on this project and is greatly appreciated. </p>
                                </div><!-- .entry-content 


                            </div><!-- .col 
                        </div><!-- .row 
                    </div><!-- .container 
                </div><!-- .hero-content-overlay
            </div><!-- .hero-content-wrap --> 


            <div class="swiper-slide hero-content-wrap">
                <img class="head_img" src="assets/logo-negat.png" alt="">

                <div class="hero-content-overlay position-absolute w-100 h-100">
                    <div class="container h-100">
                        <div class="row h-100">
                            <div class="col-12 col-lg-8 d-flex flex-column justify-content-center align-items-start">
                                <header class="entry-header">
                                   <h1>Donate</h1>
                                    <h4>for a better Us</h4>
                                </header><!-- .entry-header -->

                                <div class="entry-content mt-4">
                                    <p>Any amount would help us to continue development on this project and is greatly appreciated. </p>
                                </div><!-- .entry-content -->

                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .container -->
                </div><!-- .hero-content-overlay -->
            </div><!-- .hero-content-wrap -->
        </div><!-- .swiper-wrapper -->

        <div class="pagination-wrap position-absolute w-100">
            <div class="container">
                <div class="swiper-pagination"></div>
            </div><!-- .container -->
        </div><!-- .pagination-wrap -->


    </div><!-- .hero-slider -->

    <div class="home-page-icon-boxes">
        <div class="container">
            <div class="row">
               

                <div class="col-12 col-md-6 col-lg-4 mt-4 mt-lg-0">
                    <div class="icon-box">
                        <figure class="d-flex justify-content-center">
                            <img src="assets/donation-gray.png" alt="">
                            <img src="assets/donation-white.png" alt="">
                        </figure>

                        <header class="entry-header">
                            <h3 class="entry-title">Vision</h3>
                        </header>

                        <div class="entry-content">
                            <p>Aspires to see society to enjoy healthy 
life. 
 </p>
                        </div>
                    </div>
                </div>
 <div class="col-12 col-md-6 col-lg-4 mt-4 mt-lg-0">
                    <div class="icon-box active">
                        <figure class="d-flex justify-content-center">
                            <img src="assets/hands-gray.png" alt="">
                            <img src="assets/hands-white.png" alt="">
                        </figure>

                        <header class="entry-header">
                            <h3 class="entry-title">Mission</h3>
                        </header>

                        <div class="entry-content">
                            <p>Working strongly toward ensuring healthy family and 
community through supporting and encouraging peoples to know and 
release their potential in the integrated program. </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mt-4 mt-lg-0">
                    <div class="icon-box">
                        <figure class="d-flex justify-content-center">
                            <img src="assets/charity-gray.png" alt="">
                            <img src="assets/charity-white.png" alt="">
                        </figure>

                        <header class="entry-header">
                            <h3 class="entry-title">Goal</h3>
                        </header>

                        <div class="entry-content">
                            <p>The overall goal is to contribute for changing the living standard 
of disadvantageous family especially headed by 
women with children and child headed family through building their capacity and self-esteem in a continuous improvement of life.  </p>
                        </div>
                    </div>
                </div>
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .home-page-icon-boxes -->

    <div class="home-page-welcome">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 order-2 order-lg-1">
                    <div class="welcome-content">
                        <header class="entry-header">
                            <h2 class="entry-title">How We Started</h2>
                        </header><!-- .entry-header -->

                        <div class="entry-content mt-5">
                            <p>The founder of Yengat Birhan Charity Organization, s/r Meseret Tesfaye started its work as a volunteer by the financial support of her family. First she engaged in a small scale support of disadvantageous families in Yeka Sub city, Woreda 08 in 2014. The founder says that, 2006 made her to think critically about life unlike other times. It was during the delivery of her third child that she was on the brink of death. That dangerous event showed her that life was too short on earth, and not as long as she expected. It also encouraged her to ask herself, “What am I supposed to do with these newly given additional years?” “What must I do in order to live a meaningful life and to have life satisfaction?” Then she found that helping people to live a better life will be the number one yearning in her heart, deep inside. She started the work by strengthening the least privileged families especially the single mom who suffers/ struggling to support their children. At that time the support includes: helping the single Mom’s to engage in income generating activities and provide school materials including school uniform for school children once in a year and counseling on health issues.</p>
                        </div><!-- .entry-content -->

                        
                    </div><!-- .welcome-content -->
                </div><!-- .col -->

                <div class="col-12 col-lg-6 mt-4 order-1 order-lg-2">
                    <img src="assets/mesret.jpg" alt="welcome">
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .home-page-icon-boxes -->


    <div class="our-causes">
        <div class="container">
            <div class="row">
                <div class="coL-12">
                    <div class="section-heading">
                        <h2 class="entry-title">Economic , Educational & Health Empowerment</h2>
                    </div><!-- .section-heading -->
                </div><!-- .col -->
            </div><!-- .row -->

            <div class="row">
                <div class="col-12">
                    <div class="swiper-container causes-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="cause-wrap">
                                  
 
                                    <div class="cause-content-wrap">
                                        <header class="entry-header d-flex flex-wrap align-items-center">
                                            <h3 class="entry-title w-100 m-0"><a href="#">Economic Empowerment</a></h3>
                                        </header><!-- .entry-header -->

                                        <div class="entry-content">
                                            <p class="m-0">To improve the economic status on the family level: From 70 families, we select one woman from each family and put them in self-help groups (15 to 20). Weekly meetings to discuss common issues on business and other social issues, Education on how to improve their savings to enable them engage in income generating activities, Encourage them contribute to a group savings according to their financial strength. This to help resolve problems that may arise in the course of their business, Organizing basic business skills training to familiarize them to the business world Asset them to develop their own business plan, Facilitate finance to them to start their business and Weekly follow ups on their progress in their respective ventures.</p>
                                        </div><!-- .entry-content -->

                                       
                                    </div><!-- .cause-content-wrap -->
                                </div><!-- .cause-wrap -->
                            </div><!-- .swiper-slide -->

                            <div class="swiper-slide">
                                <div class="cause-wrap">
                                    

                                    <div class="cause-content-wrap">
                                        <header class="entry-header d-flex flex-wrap align-items-center">
                                            <h3 class="entry-title w-100 m-0"><a href="#">Educational Empowerment</a></h3>
                                        </header><!-- .entry-header -->

                                        <div class="entry-content">
                                            <p class="m-0">Currently we facilitate access to education for 80 orphan children of Yeka sub-city Wereda 08, who is vulnerable to school drop-out through providing education material support and tutorial class and assist to successfully completed their education. Girl child will get priority. Providing educational materials including school uniforms and school bags once per year, Organizing tutorials classes on basic subjects, like English and mathematics, Providing a cup of milk and bread for each student as a supper before the tutorials class, Follow up programs, in their home and in their school, at the end of each semester to ensure regular school attendance and satisfactory academic performance and Psycho social activity like playing game or visiting some recreational place and awarding for the top student.</p>
                                        </div><!-- .entry-content -->

                                        
                                    </div><!-- .cause-content-wrap -->
                                </div><!-- .cause-wrap -->
                            </div><!-- .swiper-slide -->

                            <div class="swiper-slide">
                                <div class="cause-wrap">
                                    

                                    <div class="cause-content-wrap">
                                        <header class="entry-header d-flex flex-wrap align-items-center">
                                            <h3 class="entry-title w-100 m-0"><a href="#">Health Empowerment</a></h3>
                                        </header><!-- .entry-header -->

                                        <div class="entry-content">
                                            <p class="m-0">By improving the health seeking behavior of the mother, to prevent new HIV infection, Psychological support for people living with HIV and nutrition care/services of single mothers and orphan children through providing health education and information.For the women, Health education to improve their knowledge on basic health and nutrition care/service on monthly basis for self-help groups&how to prevent new HIV infection and Psychological support for people living with HIV, Home visits supervise and advise on health related issues and possibly linking them to government health centers. For Children, Select one elementary and a high school to give health education; such as on personal hygiene, reproductive health, including HIV/AIDS and drug addiction.</p>
                                        </div><!-- .entry-content -->

                                        
                                    </div><!-- .cause-content-wrap -->
                                </div><!-- .cause-wrap -->
                            </div><!-- .swiper-slide -->

                           
                    </div><!-- .swiper-container -->

                    <!-- Add Arrows -->
                    <div class="swiper-button-next flex justify-content-center align-items-center">
                        <span><svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1171 960q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z"/></svg></span>
                    </div>

                    <div class="swiper-button-prev flex justify-content-center align-items-center">
                        <span><svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1203 544q0 13-10 23l-393 393 393 393q10 10 10 23t-10 23l-50 50q-10 10-23 10t-23-10l-466-466q-10-10-10-23t10-23l466-466q10-10 23-10t23 10l50 50q10 10 10 23z"/></svg></span>
                    </div>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .our-causes -->
<hr>
    <div class="row">
                        <div class="col-12 col-lg-6 order-2 order-lg-1">
                    <div class="welcome-content">
                        <header class="entry-header">
                            <h2 class="entry-title" style="color: #191970">A Message From <br>The founder of Yengat Birhan Charity Organization, S/r Meseret Tesfaye.</h2>
                        </header><!-- .entry-header -->
                    </div><!-- .welcome-content -->
                </div><!-- .col -->
        <div class="col-md-6 col-lg-push-3">
            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/dppvFErDtIY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <hr>
    <div class="home-page-limestone">
        <div class="container">
            <div class="row align-items-end">
                <div class="coL-12 col-lg-6">
                    <div class="section-heading">
                        <h2 class="entry-title">We love to help more needy children and Mothers who suffer to lead their daily life. </h2>

                        <p class="mt-5">The project is seeking additional financial assistance to support up single mothers’ capital in order to engage them in income generating activity depending on their interest and send more children to school,almost all of your donation goes to the benficaries. </p>
                    </div><!-- .section-heading -->
                </div><!-- .col -->

                <div class="col-12 col-lg-6">
                    <div class="milestones d-flex flex-wrap justify-content-between">
                        <div class="col-12 col-sm-4 mt-5 mt-lg-0">
                            <div class="counter-box">
                                <div class="d-flex justify-content-center align-items-center">
                                    <img src="assets/teamwork.png" alt="">
                                </div>

                                <div class="d-flex justify-content-center align-items-baseline">
                                    <div class="start-counter" data-to="150" data-speed="2000"></div>
                               
                                </div>

                                <h3 class="entry-title">Direct beneficiaries </h3><!-- entry-title -->
                            </div><!-- counter-box -->
                        </div><!-- .col -->

                        <div class="col-12 col-sm-4 mt-5 mt-lg-0">
                            <div class="counter-box">
                                <div class="d-flex justify-content-center align-items-center">
                                    <img src="assets/donation.png" alt="">
                                </div>

                                <div class="d-flex justify-content-center align-items-baseline">
                                    <div class="start-counter" data-to="80" data-speed="2000"></div>
                                </div>

                                <h3 class="entry-title"> Students</h3><!-- entry-title -->
                            </div><!-- counter-box -->
                        </div><!-- .col -->

                        <div class="col-12 col-sm-4 mt-5 mt-lg-0">
                            <div class="counter-box">
                                <div class="d-flex justify-content-center align-items-center">
                                    <img src="assets/dove.png" alt="">
                                </div>

                                <div class="d-flex justify-content-center align-items-baseline">
                                    <div class="start-counter" data-to="70" data-speed="2000"></div>
                                </div>

                                <h3 class="entry-title">Womens/mothers</h3><!-- entry-title -->
                            </div><!-- counter-box -->
                        </div><!-- .col -->
                    </div><!-- .milestones -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .our-causes -->

    <footer class="site-footer">
        <div class="footer-widgets">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="foot-about">
                            <h2><a class="foot-logo" href="#"><img src="assets/apple-icon-144x144.png" alt=""></a></h2>

                           <p>Any amount would help to change other lives by engaging women in income activity and improve acadamic performance of needy children. 
                            <br>
                           <br>
                           <b> Name of Bank: <br>Birhan International Bank 
                            Account No: <span style="color: red;">1600110007833</span></b>
                           <b> <br>Awash International Bank <br>
                            Account No: <span style="color: red;">01308161608800 </span></b></p>

                            <ul class="d-flex flex-wrap align-items-center">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div><!-- .foot-about -->
                    </div><!-- .col -->

                    <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                        <h2>Useful Links</h2>

                        <ul>
                            <li><a href="#">Privacy Polticy</a></li>
                            <li><a href="involved.html">Become  a Volunteer</a></li>
                            <li><a href="involved.html">Donate</a></li>
                            <li><a href="causes.html">Causes</a></li>
                           <li><a href="gallery.html">Gallery</a></li>
                            <li><a href="news.html">News</a></li>
                        </ul>
                    </div><!-- .col -->


                    <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                        <div class="foot-contact">
                            <h2>Contact</h2>

                            <ul>
                                <li><i class="fa fa-phone"></i><span>+251 912955024 / +251974102040</span></li>
                               <li><i class="fa fa-envelope"></i><span> meseretkbt@gmail.com</span></li>
                            <li><i class="fa fa-map-marker"></i><span>Office Location - 
                                        Yeka sub-city, Woreda 08 
                                        House No - 367 
                                        Addis Ababa, Ethiopia </span></li>
                            </ul>
                        </div><!-- .foot-contact -->

                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .footer-widgets -->

        <div class="footer-bar">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p class="m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved <i class="fa fa-heart-o" aria-hidden="true"></i> </p>
                    </div><!-- .col-12 -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .footer-bar -->
    </footer><!-- .site-footer -->

    <script type='text/javascript' src='js/jquery.js'></script>
    <script type='text/javascript' src='js/jquery.collapsible.min.js'></script>
    <script type='text/javascript' src='js/swiper.min.js'></script>
    <script type='text/javascript' src='js/jquery.countdown.min.js'></script>
    <script type='text/javascript' src='js/circle-progress.min.js'></script>
    <script type='text/javascript' src='js/jquery.countTo.min.js'></script>
    <script type='text/javascript' src='js/jquery.barfiller.js'></script>
    <script type='text/javascript' src='js/custom.js'></script>

</body>
</html>